ol, ul{
    list-style-type: pointer !important; /* Adds default bullet points */
    

ol li, ul li{
    margin-bottom: 10px; /* Adds spacing between items */
    cursor: pointer; /* Changes the cursor to a pointer when hovering over list items */
}

