ol, ul, menu {
    list-style-type: pointer !important; /* Adds default bullet points */
    padding-left: 20px; /* Adds indentation for the list */
}

ol li, ul li, menu li {
    margin-bottom: 10px; /* Adds spacing between items */
    cursor: pointer; /* Changes the cursor to a pointer when hovering over list items */
}

