.custom-link {
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
}

p, ul, li{
  font-size: 17px !important;          /* Adjust font size for readability */
  line-height: 1.6 !important;         /* Space between lines for better readability */
  color: #333 !important;              /* Dark gray color for a softer contrast */
  
  margin-bottom: 16px !important;      /* Adds spacing between paragraphs */
                                       /* Adds slight padding for spacing */
  max-width: 800px !important;         /* Prevents overly wide paragraphs */
   word-spacing: 0 px !important;        /* Adjust spacing between words */
  letter-spacing: 0 px !important;   
 
}

.custom-link:hover {
  color: #0056b3;
}

h2{
  font-size: 30px!important;
   font-weight: bold !important;
  padding: 2px 0 !important;

}

h3{
   font-size: 27px!important;
   font-weight: bold !important;
  padding: 2px 0 !important;

}

h4{
  font-size: 24px !important;
   font-weight: bold !important;
  padding: 2px 0 !important;

  
}

h5{
   font-size: 22px !important;
   font-weight: bold !important;
  padding: 2px 0 !important;

}
